
@keyframes dropIn {
  0% {
    transform: translateY(-150%);
    opacity: 0;
  }
  60% {
    transform: translateY(25px);
    opacity: 1;
  }
  75% {
    transform: translateY(-10px);
  }
  90% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-drop-in {
  animation: dropIn 1s ease-out forwards;
}
